
$background-color: #131b20;
$background-color-translucent: rgba(19, 27, 32, 0.369);
$primary-color: #222c32;
$primary-color-translucent: rgba(34, 44, 50, 0.5);
$primary-color-translucent-unselected: rgba(255, 13, 0, 0.31);
$secondary-color: #323d49;
$secondary-color-translucent: rgba(50, 61, 73, 0.5);
$secondary-color-semitranslucent: rgba(50, 61, 73, 0.7);
$border-color: #787d80;
$header-height: 100px;
$nav-width: 200px;

#header {
  width: 100svw;
  height: $header-height;
  background-color: $secondary-color-semitranslucent;
  //display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  border-bottom: 0.75px solid $border-color;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  display: flex;
  top: 0;
}

#nav {
  height: 100%;
  width: $nav-width;
  background-color: $secondary-color-semitranslucent;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  border-right: 0.75px solid $border-color;
  left: 0;
  position: fixed;
}

#app {
  display: flex;
  flex-direction: row;
  margin-top: $header-height;
  padding-left: $nav-width;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: $primary-color;
  border: 0.75px solid $border-color;
  outline: none;
  color: white;
  cursor: pointer;
  margin: 20px;
  margin-top: 30px;
  transition: background-color 0.3s, scale 0.3s;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2em;
  padding: 10px;
}

.button:hover {
  background-color: $secondary-color;
  scale: 1.1;
  transition: background-color 0.3s, scale 0.3s;
}

.App {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  background-color: $background-color;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

textarea, input, p, h1, h2, h3, h4, h5{
  // width: 90%;
  border: none;
  overflow: auto;
  outline: none;
  background-color: transparent;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  color: white;
  margin: 10px;
  margin-top: 30px;

  font-family: 'Roboto', sans-serif;
  padding: 0px;
}

input, textarea{
  padding: 3px;
  padding-left: 7px;
  border-radius: 8px;
  border: 0.75px solid $border-color;
  margin-top: 10px;
  max-lines: 5;
}

p {
  font-size: 0.84em;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

.post-title {
  font-size: 1.5em;
  overflow: hidden;
  width: 100%;
  height: 50px;
  background-color: $secondary-color-translucent;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: $primary-color-translucent;
  border-radius: 8px;
  overflow: hidden;
  border: 0.75px solid $border-color;
  margin: 40px auto;
  transition: transform 0.5s, box-shadow 0.5s;
  backdrop-filter: blur(5px);
  width: calc(100% - 80px);
}

.post{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field{
  display: flex;
  flex-direction: row;
}

.field p{
  width: 100px;
  text-align: right;
  margin-top: 12px;
}

.full-post{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 100px;
  margin-top: 150px;
}

.post-image{
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  margin: 10px;
  border: 0.75px solid $border-color;
}

.post-content{
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  align-self: baseline;
}

.posts{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.posts_vertical{
  display: flex;
  flex-direction: column;
}

.post-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.post-tag{
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 0.7em;
  background-color: $secondary-color-translucent;
  border-radius: 20px;
  border: 0.75px solid $border-color;
}

.challenge {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.challenge-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.challenge-header {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.challenge-header h2, p {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 2px;
}

.loading {
  font-size: 1.5em;
  color: white;
  padding: 20px;
}

.icon-button {
  width: 18px;
  height: auto;
  align-self: center;
  justify-self: center;
}

.button:has(.icon-button) {
  margin: 5px;
  max-height: 17px;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.lock-icon {
  background-image: url('./img/lock.png');
  background-size: cover;
  width: 10px;
  height: 14.8px;
  align-self: center;
  margin-left: 10px;
}

.preview {
  margin: 0px;
  border-radius: 0px;
}

.current {
  background-color: $secondary-color;
}

.unselected {
  background-color: $primary-color-translucent-unselected;
}
